header{
    width: 100%;
    height: 64px;
    background-color: #910F9C;
    border-radius: 0 0 10px 10px;
}

.header{
    height: 60px;
    width: 100%;
    background-color: #72ED0C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    
}

.logo{
    position: relative;
    display: flex;
    margin-left: 30px;
}

.up_btn{
    margin-right: 40px;
    
}

.open-upbar{
    height: 234px;
}
