{% load static %}

<div id="modalConfirmExcluir{{ task.id }}">
    <p class="textoModal">Deseja mesmo Excluir?</p>
    <div class="buttons">
        <a class="green" href="{% url 'excluir' task.id %}">
            <img src="{% static './img/home/Aceitar.svg' %}"></img>
        </a>
        <a class="red" onclick="modalConfirmFechar('{{ task.id }}')">
            <img src="{% static './img/home/Negar.svg' %}"></img>
        </a>
    </div>
</div>

<div id="modalConfirmLimpeza{{ task.id }}">
    <p class="textoModal">Deseja mesmo Limpar?</p>
    <div class="buttons">
        <a class="green" href="{% url 'limpeza' %}">
            <img src="{% static './img/home/Aceitar.svg' %}"></img>
        </a>
        <a class="red" onclick="modalConfirmFechar('{{ task.id }}')">
            <img src="{% static './img/home/Negar.svg' %}"></img>
        </a>
    </div>
</div>


