{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Taskn Notes{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/_base.css' %}">
        <link rel="stylesheet" href="{% static 'css/_header.css' %}">
        <link rel="shortcut icon" href="{% static 'img/home/favico.svg' %}">

        {% block css %}{% endblock %}
    </head>
    <body>
        {% include '_header.html' %}

        {% block content %}{% endblock %}

        {% block js %}{% endblock %}

    </body>
    <script src="{% static 'js/_header.js' %}"></script>
</html>
