{% load static %}

<header>
    <nav class="header">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static '/img/home/logo.svg' %}" alt="">
            </a>
        </div>
    
        <a class="up_btn"><img src="{% static '/img/home/navbar.svg' %}" alt=""></a>

        <!-- <div class="items">
            <ul>
                <li>
                    <p>lixeira</p>
                </li>
                <li>Perfil</li>
                <li>Configurações</li>
            </ul>
        </div> -->

    </nav>
</header>
