{% load static %}

<header class="pai">
    <nav class="header">
        <div class="icones">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static './img/home/logo.svg' %}" alt="">
                </a>
            </div>
        
            <div class="up_btn">
                <img src="{% static './img/home/navbar.svg' %}" alt="">
            </div>
        </div>

        <div class="itens">
            <hr>
            <ul>
                <li><a href="{% url 'limpeza' %}"><img src="{% static './img/home/clearAlt.svg' %}" alt="">Limpeza</a></li>
                <li><a href="{% url 'perfil' %}"><img src="{% static './img/home/perfil.svg' %}" alt="">Perfil</a></li>
                <li><a href="{% url 'config' %}"><img src="{% static './img/home/config.svg' %}" alt="">Configurações</a></li>
                <li><a href="{% url 'historico' %}"><img src="{% static './img/home/historico.svg' %}" alt="">Histórico</a></li>
            </ul>
        </div>

    </nav>
</header>
