{% extends '_base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<link rel="stylesheet" href="{% static '/css/modal.css' %}">
{% endblock %}

{% block content %}

<section>

    <div class="box1">
        <form method="POST" action="{% url 'cadastrar' %}">
            {% csrf_token %}

            <input placeholder="TASKS..." type="text" name="nome" class="input" required>
        </form>

        {% if tasks %}
        <h2>({{ total_tasks }}) TASK LIST</h2>

        {% else %}
        <p>Está meio vazio aqui</p>
        
        {% endif %}

        {% for task in tasks %}
    </div>

    <div class="box2">
        <div class="container">
            <div class="checkbox">
                <img src="{% static '/img/home/unchecked.svg' %}" id="unchecked{{ task.id }}" onclick="checkIt({{ task.id }})">
                <img src="{% static '/img/home/checked.svg' %}" id="checked{{ task.id }}" onclick="uncheckIt({{ task.id }})">
            </div>
            <div class="lista" id="lista{{ task.id }}">
                <p class="notas" oncontextmenu="direito(event, {{ task.id }})" onclick="AbrirM({{ task.id }})">{{ task.nome }}</p>
            </div>
            <div id="modal{{ task.id }}">
                <form method="POST" action="{% url 'atualizar' task.id %}">
                    {% csrf_token %}
                    <input type="text" name="novo_nome" value="{{ task.nome }}">
                </form>
            </div>
            
            <div id="rightClick{{ task.id }}">
                <img class="modal-img" src="{% static '/img/home/arrowModal.svg' %}" alt="">

                <div class="losango">
                    <ul>
                        <li><a class="losango-itens" onclick="modalConfirm({{ task.id }})">
                            <!-- href="{% url 'excluir' task.id %}" -->
                        <img src="{% static '/img/home/trashAlt.svg' %}" alt="">Excluir
                        </a></li>
                        <li><a class="losango-itens" onclick="AbrirM({{ task.id }})">
                            <img src="{% static '/img/home/edit.svg' %}" alt="">Editar
                        </a></li>
    
                    </ul>
                </div>
 
            </div>
        </div>
        {% include 'modal.html' %}
    </div>
    

        {% endfor %}

        

</section>
{% endblock %}

{% block js %}
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}