{% extends '_base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block content %}

<section>
    <div class="box1">
        <form method="POST" action="{% url 'cadastrar' %}">
            {% csrf_token %}

            <input placeholder="TASKS..." type="text" name="nome" class="input" required>
        </form>
    </div>
    <div class="box2">

        {% if tasks %}
        <h2>({{ total_tasks }}) TASK LIST</h2>

        {% else %}
        <p>Está meio vazio aqui</p>

        {% endif %}


        {% for task in tasks %}
    </div>
    <div class="box3">
        <div class="container">
            <div class="checkbox">
                <img src="{% static '/img/home/unchecked.svg' %}" id="unchecked{{ task.id }}" onclick="checkIt({{ task.id }})">

                <img src="{% static '/img/home/checked.svg' %}" id="checked{{ task.id }}" onclick="uncheckIt({{ task.id }})">
            </div>

            <div class="lista" id="lista{{ task.id }}">
                <p class="notas" onclick="AbrirM({{ task.id }})">{{task.nome}}</p>

                <div class="buttons-container">
                    <a class="buttons_vermelho" onclick="return confirm('Tem certeza que deseja excluir?')" href="{% url 'excluir' task.id %}">&#128465;</a>
                </div>
                
            </div>
            <div id="modal{{ task.id }}">
                <form method="POST" action="{% url 'atualizar' task.id %}">
                    {% csrf_token %}
                    <input type="text" name="novo_nome" value="{{task.nome}}">
                    <div class="button" onclick="FecharM({{ task.id }})">x</div>
                </form>
            </div>
        </div>
    </div>

        {% endfor %}

        {% for task in tasks %}

        {% endfor %}

    </div>

</section>
{% endblock %}

{% block js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}